.container{
    height: 580px;
    width: 550px;
    background-color: rgb(121, 116, 116);
    margin: auto;
    border-radius: 30px;
}
#screen{
    width: 480px;
    height: 70px;
    margin-left: 35px;
    margin-top: 40px;
    background-color: lightblue;
    border: none;
    border-radius: 30px;
    font-size: 3rem;
    color: black;
    text-align: right;
    
}
.button{
    width: 70px;
    height: 70px;
    margin-left: 55px;
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    border: none;
    
}
.clear{
    background-color: rgb(240, 19, 19);
}
.operator{
    background-color: rgb(53, 207, 207);
    color: black;
    font-size: 30px;
}
.button:hover{
    border: 5px solid rgb(255, 72, 0);
}